<<<<<<< HEAD
#anonymous
  = render(:partial => 'anonymous')
#form
=======
= link_to('New Account', new_account_path, :remote => true, :class => 'button tiny radius')
#form
#accounts
  = render :partial => 'accounts/accounts'
>>>>>>> 935a11dc0d87974fc02ff710933d24e3e3a61ff0
