= link_to('New Account', new_account_path, :remote => true, :class => 'button tiny radius')
= link_to('Transfer', transfer_accounts_path, :remote => true, :class => 'button tiny radius')
#form
#accounts
  = render :partial => 'accounts/accounts'