= button_tag 'Deposits Chart', :class => 'button radius tiny show_chart', :'data-account-id' => @account.id, :'data-type' => 'deposit'
= link_to 'Deposits Table', deposits_accounts_path, :remote => true, :class => 'button radius tiny show_table', :'data-type' => 'deposit'
= button_tag 'Withdraws Chart', :class => 'button radius tiny show_chart', :'data-account-id' => @account.id, :'data-type' => 'withdraw'
= link_to 'Withdraws Table', withdraws_accounts_path, :remote => true, :class => 'button radius tiny show_table', :'data-type' => 'withdraw'
#chart